.exploration__button {
    @extend %flex-center;
    cursor:pointer;
    padding:0.5em;
    border-radius:25px;
    margin-bottom: 30px;
    border:none;
    background:$linear-gradient;
    box-shadow:2px 2px 10px grey;
    transition:all 200ms;
    p {
        font-size:17px;
        color:$colour-quaternary;
        margin:10px;
    }
    &:hover {
        opacity: 80%;
        box-shadow:8px 8px 15px grey;
    }
}
