$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$colour-quaternary:#FFFFFF;
$colour-footer:#353535;
$colour-lightgrey:#e2e2e2;
$colour-lightnessgrey:#ececec;
$breakpoints:(
    mobile:480px,
    tablet:1024px
    );

