/* Bannière en pied de page */
.foot {
    background-color:$colour-footer;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    &__title {
        width:90%;
        height:50px;
        font-size:14px;
    }
    &__links {
        width:90%;
        a {
            text-decoration:none;
            &:hover {
                text-decoration:underline;
            }
        }
        .fa-utensils {
            margin-right:17px;
        }
        .fa-hands-helping {
            margin-right:10px;
        }       
    }
}
/* Bannière en pied de page */
