
section {
    width:100%;
    height:auto;
    .functioning {
        width:90%;
        display:flex;
        justify-content: flex-start;
        flex-direction:column;
        ol {
            width:100%;
            display:flex;
            justify-content: space-around;
            align-items:center;   
        }
    }
    .restaurants {
        width:90%;
        height:350px;
        display:flex;
        justify-content: flex-start;
        flex-direction:column;
        .choices {
            width:100%;
            @extend %flex-center;
            justify-content: space-between;
            flex-wrap:wrap;
            &__first {
                @include restaurants;
            }
            &__second {
                @include restaurants;
            }
            &__third {
                @include restaurants;
            }
            &__fourth {
                @include restaurants;
            }
        }
    }
}